<div class="containerFormElementos">
    <div class="containerForm">
        <h2>Lista de Elementos</h2>
        <div class="btnInput">
            <input type="text" [(ngModel)]="nuevoElemento" placeholder="Ingrese un elemento" />
            <button class="agregarElemento" (click)="agregarElemento()">Agregra</button>
            <button class="eliminarElemento" (click)="eliminarElemento()">Eliminar</button>
        </div>
    </div>
    <div class="containerListado">
        <ul>
            <li *ngFor="let element of elementos">
                {{element.id}}. {{ element.nombre}}
            </li>
        </ul>
    </div>
</div>